.container {
    display: flex;
}
.div1 {
    width: 100px;
    height: 100px;
    background-color: tomato;
    /* float: left; */
}
.div2 {
    width: 100px;
    height: 100px;
    background-color: mediumaquamarine;
    /* float: left; */
}
.div3 {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    clear: left;
}
